<div class="container-fluid about-view">
  <div class="container">
    <div class="jumbotron pull-left">
      <h1>Reduce decision <span class="yellow">fatigue</span>.</h1>
    </div>
  </div>
</div>

<div class="container-fluid about-blurb">
  <div class="container about-blurb">
      <h1 class="text-center">THE TYRANNY OF CHOICE</h1>
      <h3>Since the early-2000s, a growing body of research* has shown that rather than contributing to more happiness, the increasing availability of choices actually causes greater stress and anxiety. These adverse effects can be far-reaching, from buying groceries at the supermarket to running a Fortune 500 corporation.</h3>

      <h1 class="text-center">GREY T-SHIRTS AND BLACK TURTLENECKS</h1>
      <h3>Steve Jobs was legendary for his black mock turtlenecks, blue jeans, and New Balance sneakers. Mark Zuckerberg has built a similar notoriety around his closet full of grey t-shirts. President Obama famously admitted that his wardrobe only contains blue or grey suits.</h3>

      <h1 class="text-center">NOT JUST FOR EXECUTIVES</h1>
      <h3>Although once viewed as the eccentricity of quirky tech billionaires, more and more people are realizing that what you wear doesn't have to define you. Minimizing the things that don't matter actually <i>can</i> free you to be happier and lead a more effective life.</h3>

      <p>*Schwartz, Barry. "The Paradox of Choice." Harper, 2004<br />&nbspVohs et al. "Making Choices Impairs Subsequent Self-Control." Journal of Personality and Social Psychology, 2008</p>
  </div>
</div>
