<div ng-controller="DashboardController as dash" class="container-fluid dash-view">

    <!-- Populate with photos -->
    <div class="container module">
        <div class="widget-top col-md-9">
            <div class="widget-wardrobe">
                <img class="garment" ng-repeat="garment in dash.garments track by $index" ng-click="dash.setActiveItem(garment)" src="{{garment.photo}}" data-toggle="modal" data-target="#garmentData" ng-style="dash.grayOut(garment)" />

                <button class="btn btn-lg add-garment glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></button>
            </div>


        </div>

        <div class="widget-top col-md-3">
            <div class="widget-outfit" data-toggle="modal" data-target="#outfitModal">
                <div>
                    <img ng-click="dash.imgDisabled || dash.generateOutfit()" class="outfit-view" src="{{dash.outfitTop.photo}}" />
                    <img ng-click="dash.imgDisabled || dash.generateOutfit()" class="outfit-view" src="{{dash.outfitBottom.photo}}" />
                    <div class="text-center checkbox">
                        <button ng-hide="dash.outfitLocked" ng-click="dash.setDailyOutfit(); dash.imgDisabled = true" class="btn btn-success">Wear This Outfit</button>


                        <button ng-show="dash.outfitLocked" ng-click="dash.imgDisabled = false; dash.generateOutfit(); dash.toggleOutfitLock()" class="btn btn-info ">Get Another Outfit</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="widget-bottom col-md-7">
            <iframe src="https://calendar.google.com/calendar/embed?src=0ffohj0pid08deiej8lav1vkmg%40group.calendar.google.com&ctz=America/Denver" scrolling="no"></iframe>
        </div>

        <div ng-controller="WeatherController as wc" class="widget-bottom col-md-5">
            <div ng-click="dash.generateDummy()" class="widget-weather">
                <div class="col-md-6 weather-left">
                    <h1 class="text-center">{{wc.currentCity}}</h1>
                    <h5 class="text-center">{{wc.currentDay}}</h5>
                    <h5 class="text-center">{{wc.currentDate}} {{wc.currentMonth}}, {{wc.currentYear}}</h5>
                </div>
                <div class="col-md-6 weather-right ">
                    <h1 class="current-temp text-center">{{wc.currentTemp}}°F</h1>
                    <h5 class="temp text-center">H:{{wc.tempHigh}}°F / L:{{wc.tempLow}}°F</h5>
                </div>
            </div>

            <div>
                <div class="widget-laundry">
                    <h3 class="text-center checkbox">Days until laundry: {{dash.nextLaundry}} days</h3>
                </div>
            </div>

        </div>


        <!-- MODAL for garment ANALYTICS -->
        <div class="modal fade" id="garmentData" tabindex="-1" role="dialog" aria-labelledby="garmentData">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header data">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="garmentData">{{dash.activeItem.name}}</h4>
                    </div>

                    <div>
                        <div class="garment-photo col-md-5">
                            <img ng-src={{dash.activeItem.photo}} height="200" width="200" />
                        </div>

                        <div class=" modal-body col-md-7">
                            <div>
                                <label class="data">Price:</label><span> ${{dash.activeItem.price}}</span>
                            </div>

                            <div>
                                <label class="data">Price per wear:</label><span> ${{dash.activeItem.pricePerWear.toFixed(2)}}</span>
                            </div>

                            <div>
                                <label class="data">Times worn this laundry cycle:</label><span> {{dash.activeItem.wearsThisCycle}}/{{dash.activeItem.wearsPerCycle}}</span>
                            </div>

                            <div>
                                <label class="data">Total times worn:</label><span> {{dash.activeItem.totalWears}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">

                        <button ng-show="dash.showRetire" class="btn btn-md btn-warning remove-garment" type="button" ng-click="dash.toggleRetire()">Retire Me</button>


                        <button ng-hide="dash.showRetire" class="btn btn-md btn-default cancel-retire" type="button" ng-click="dash.toggleRetire()">Cancel</button>
                        <button ng-hide="dash.showRetire" ng-click="dash.removeItem()" class="btn btn-md btn-danger remove-garment" type="button" data-toggle="modal" data-target="#garmentData">Delete Item</button>
                    </div>

                </div>
            </div>
        </div>




        <!-- MODAL form to add garments -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Garment</h4>
                    </div>

                    <div class="modal-body">

                        <!-- New Garment Submission Form -->
                        <form ng-submit="dash.addNewGarment()">
                            <div class="form-group">
                                <label>Name</label>
                                <input ng-model="dash.newGarment.name" class="form-control" placeholder="Green Flannel Shirt">
                            </div>

                            <div class="col-md-3 garment-type" >
                                <div class="radio">
                                    <label>
                                        <input ng-model="dash.newGarment.type" type="radio" name="optradio" value="top"> Top
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="dash.newGarment.type" type="radio" name="optradio" value="bottom"> Bottom
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6 garment-weather">
                                <label>Temperature Range</label>
                                <div class="checkbox">
                                    <label class="checkbox-inline"><input type="checkbox" value="cold" ng-model="dash.newGarment.cold"/><50°F</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="moderate" ng-model="dash.newGarment.moderate"/>50°F-80°F</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="hot" ng-model="dash.newGarment.hot"/>>80°F</label>
                                </div>
                            </div>

                            <div class="form-offset">

                            </div>


                            <div class="form-group">
                                <label>Price</label>
                                <input ng-model="dash.newGarment.price" class="form-control" placeholder="30">
                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <input ng-model="dash.newGarment.quantity" class="form-control" placeholder="1">
                            </div>
                            <div class="form-group">
                                <label>Wears Per Laundry Cycle</label>
                                <input ng-model="dash.newGarment.wearsPerCycle" class="form-control" placeholder="3">
                            </div>
                            <div class="form-group">
                                <label>Add Photo</label>
                                <input ng-model="dash.newGarment.photo" type="file"> -or-
                                <label class="html-input">Paste HTML</label>
                                <input ng-model="dash.newGarment.photo" class="form-control" placeholder="htps://www.google.com" />
                            </div>

                            <button type="submit" class="modal-btn btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Add item</button>
                            <button type="button" class="modal-btn btn btn-default pull-right" data-dismiss="modal">Cancel</button>


                            <div class="modal-footer">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
