<div class="container-fluid main-view">
  <div class="container">
    <div class="jumbotron pull-right">
      <h1>Minimize your wardrobe.</h1>
      <h1>Maximize your <span class="green">energy</span>.</h1>
      <h1><b>Optimize your life.</b></h1>
    </div>
  </div>
</div>

<div class="container-fluid main-blurb">
  <div class="container main-blurb">
      <h2 class="text-center">A lifestyle management tool that organizes and optimizes your wardrobe. Built on the belief that less truly is more.
      </h2>
  </div>
</div>
