<div class="container-fluid profile-view">
  <div class="container-fluid dash-header">
    <div class="container row dash-sub-header">

      <div class="col-md-3">
        <a href="#" class="dash-nav">Wardrobe</a>
      </div>

      <div class="col-md-3">
        <a href="#" class="dash-nav">Calendar</a>
      </div>

      <div class="col-md-3">
        <a href="#" class="dash-nav">Weather</a>
      </div>

      <div class="col-md-3">
        <a href="#" class="yellow highlight">Get Outfit</a>
      </div>

    </div>
  </div>

  <div class="container dash-body">

  </div>
</div>
